- return unless ::Feature.enabled?(:group_remove_dormant_members, @group)
- return unless ::Gitlab::Saas.feature_available?(:gitlab_com_subscriptions)
- return unless @group.root?

.form-group
  = f.label :remove_dormant_members, _('Dormant members'), class: 'label-bold'
  = f.gitlab_ui_checkbox_component :remove_dormant_members,
    _('Remove dormant members after a period of inactivity'),
    help_text: _('Removed members no longer have access to this top-level group, its sub-groups, and their projects.'),
    checkbox_options: { checked: group.namespace_settings&.remove_dormant_members }
  .form-group
    = f.label :remove_dormant_members_period, _('Days of inactivity before removal'), class: 'label-light'
    = f.number_field :remove_dormant_members_period, class: 'form-control w-auto gl-form-input', min: 90, max: 1827,
      required: true, value: group.namespace_settings&.remove_dormant_members_period,
      disabled: !group.namespace_settings&.remove_dormant_members?
    #group_remove_dormant_members_period_error.form-text.gl-text-red-500.gl-hidden
      = _('Please enter a value between 90 and 1827 days (5 years).')
    .form-text.gl-text-subtle
      = _('Must be 90 days or more.')
