- @no_container = true
- @html_class = "group-epics-roadmap-html"
- @body_class = "group-epics-roadmap-body"
- @content_wrapper_class = "group-epics-roadmap-wrapper"
- @content_class = "group-epics-roadmap"
- breadcrumb_title _("Epics Roadmap")
- sub_epics_feature_available = @group.licensed_feature_available?(:subepics)
- allow_sub_epics = sub_epics_feature_available ? 'true' : 'false'
- page_title _("Epics Roadmap")
- add_page_specific_style 'page_bundles/roadmap'

#js-roadmap{ data: { epics_path: group_epics_path(@group, format: :json),
  group_id: @group.id,
  full_path: @group.full_path,
  empty_state_illustration: image_path('illustrations/empty-state/empty-milestone-md.svg'),
  new_epic_path: new_group_epic_path(@group),
  list_epics_path: group_epics_path(@group),
  epics_docs_path: help_page_path('user/group/epics/index.md'),
  group_labels_endpoint: group_labels_path(@group, format: :json),
  group_milestones_endpoint: group_milestones_path(@group, format: :json),
  timeframe_range_type: params[:timeframe_range_type],
  preset_type: roadmap_layout,
  epics_state: @epics_state,
  sorted_by: @sort,
  allow_sub_epics: allow_sub_epics,
  allow_scoped_labels: @group.licensed_feature_available?(:scoped_labels) ? 'true' : 'false',
  can_create_epic: can?(current_user, :create_epic, @group).to_s } }
